@{
    ViewBag.Title = "About";
}

<div class="about-section paddingTB60 gray-bg" style="margin-left:20px;margin-top:30px;margin-right:20px;text-align:justify">
    <div class="container">
        <div class="row">
            <div>
                <div class="about-title clearfix">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3928.853952513313!2d105.77547461474241!3d10.0289083928313!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x31a062a8990f568d%3A0x2a22d599b2c06b23!2zxJDhuqFpIEjhu41jIEdyZWVud2ljaCAoVmnhu4d0IE5hbSkgLSBDxqEgc-G7nyBD4bqnbiBUaMah!5e0!3m2!1svi!2s!4v1646537436231!5m2!1svi!2s" width="900" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
                    <h1>About <span>FPT BOOK</span></h1>
                    <h3>Cherish every moment to serve customers</h3></br>
                    <h3>Vision</h3>
                    <p class="about-paddingB"> </p>
                    <p>Along with the development of sociality and technology market, FPT BOOK has been continuously attempting to become a prestigious partner with leading Digital producers in the world, also to be a reliable destination of customers</p>
                    <h3>Mission</h3>
                    <p class="about-paddingB"> </p>
                    <p> With the goal of expanding the store nationwide, FPT BOOK intends to become a book buying and selling system. Along with the scale expansion, FPT BOOK will bring to all classes of customers positive shopping experiences with authorized digital products with high quality, competitive prices and customer service. friendly to ensure the company's reputation </p>
                    <h3>Core Value</h3>
                    <p class="about-paddingB"> </p>
                    <ul>
                        <li> Quality: Taking the lead in building credibility, responsible for product quality assurance, FPT BOOk gives customers absolute peace of mind when buying and book products here </li>
                        <li>Trust: The word "Prestige" is what we focus on in our brand development activities, is the fulcrum for the trust of customers, is a reliable partner of book suppliers
                        <li>
                        <li>Friendliness: The image of FPT BOOK in which we are friendly to customers, active in community activities is our long-term goal</li>
                        <li>Caring: Along with the aim: serving customers is the highest priority, FPT BOOK step by step improves quality of services, educates employees and staffs to be enthusiastic, honest, sincere to satisfy all customers coming to TP Mobile</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>